*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;  
  }
  
  body{
    
    background: url(imgs/RRB.jpg);
  }
  
  header{
    background-color: #4d4d4d;
    width: 100%; height: 8%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 110px;
}

.name{
  color: white;
  font-family: initial;

}
  
.logo{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.8em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

  
.navigation a{
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
  margin-right: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.59s ease;

}
  
  .navigation a:hover{
      color: black;
  }

  button {
    
    display: inline-block;
    border-radius: 17px;
    background-color: #3f3f43;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 15px;
    margin-left: 90px;
    margin-top: -10px;
  
   }
   
   button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   
   button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   button:hover span {
    padding-right: 15px;
   }
   
   button:hover span:after {
    opacity: 1;
    right: 0;
   }
  
   span a{
    text-decoration: none;
  color: white;
   }

  section {
      padding-left: 60px;
  }
  

  .title{
    padding-top: 150px;
    padding-right: 58px;
    display: flex;
    justify-content: right;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .photo{
    width: 100%;
    height: 110px;
    display: flex;
  }

  .Restaurants{
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    justify-content: center right;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .Restaurant{
    height: 190px;
    width: 285px;
    margin-right: 74.50px;
    margin-top: 15px;
    transition: 0.6s ease;
  }

  .Restaurant:hover{
    transform: scale(1.1);
  }

  .Restaurant-img img{
    width: 100%;
    height: 175px;
    border-radius: 15px;
  }

  .Restaurant-info{
    padding: 1px 18px;
  }


  .HoLo a{
    font-size: 0.9em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: bold;
  }

  .HoLo p {
    font-weight: bolder;
    display: inline;
}

.loc{
  padding-left: 105px;
}

.loc1{
  padding-left: 190px;
}

.loc2{
  padding-left: 185px;
}

.loc3{
  padding-left: 205px;
}

.loc4{
  padding-left: 180px;
}

  .Restaurant-title{
    display: flex;
    font-weight: bolder;
    justify-content: right;
    text-align: right;
    width: 150px;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 41%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.rabt{
  width: 200%;
}
  .Restaurant-title a{
    text-decoration: none;
    color: black;
  }

  footer{
    background-color: #4d4d4d;
    height: 200px;
    width: 100%;
    margin-top: 200px;
  }



  .sections a{
    color: white;
    text-decoration: none;
font-size: 1.1em;
font-weight: 500;
padding-left: 30%;
margin-right: 15%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
transition: 0.59s ease;
}

#Text{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    padding-right: 17.50%;
}


.sectionss{
  text-align: right;
    margin-right:66.50%;
    margin-top: -65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sec1{
    margin-right: 4%;
}
.sectionss a{
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.checked {
  color: orange;
}